.guide {
  position: relative;
  padding-left: 22%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  &::after {
    content: "";
    position: absolute;
    width: 20%;
    height: 100%;
    background: rgb(168, 54, 26);
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    background-color: rgb(226, 183, 167);
    &::after {
      background: rgb(68, 64, 63);
    }
  }
}

.SchoolList {
  position: relative;
  padding-left: 1rem;

  &::after {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #0166b4;
    border-radius: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
