.button {
  background-color: $default-blue;
  color: white;
  outline: none;
  min-width: 8rem;
  min-height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: $button-box-shadow;
  transition: all 0.3s ease-in-out;

  &-transparent {
    background-color: transparent !important;
    border: 2px solid $default-blue;
  }

  &-primary {
    background-image: linear-gradient(
      to right,
      $default-blue,
      $default-red
    ) !important;
    color: white;
  }

  &:hover {
    box-shadow: $button-box-shadow-hover;
    transform: translateY(-0.125rem) scale(1.0125);
  }
}
