$default-color: rgba(13, 35, 68, 0.8);
$deep-purple: rgba(65, 5, 83, 0.9);
$default-blue: #1560bd;
$button-bg: rgb(14 116 144);
$button-box-shadow: 0 0.375em 1em rgba(25, 113, 245, 0.08);
$button-box-shadow-hover: 0 0.125em 0.25em rgba(15, 103, 235, 0.25);
