* {
    box-sizing: border-box;
}

html, body {
    font-size: 100%;
    scroll-behavior: smooth;
    color: black;
    font-weight: 500;
    background-color: white;
}

body {
    margin: 0;
    padding: 0;
}