* {
  box-sizing: border-box;
}

:root {
  --base-border-radius: 0.25rem;
  --ease: cubic-bezier(0.075, 0.82, 0.165, 1);
  --duration: 0.75s;
}

html,
body {
  font-size: 100%;
  scroll-behavior: smooth;
  color: $default-color;
  font-weight: 500;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

main {
  overflow-x: clip !important;
}

.homeHeadImage {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transition: all 1s linear;

  &.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  &.lastSlide {
    transform: translateX(-100%);
  }
  &.nextSlide {
    transform: translateX(100%);
  }
}

.bg-blue-default {
  background-color: $default-blue;
}

.bg-gradient-primary {
  background-image: linear-gradient(
    to right,
    $default-blue,
    $default-red
  ) !important;
  color: white;
}

.bg-gradient-primary-bottom {
  background-image: linear-gradient(
    to bottom,
    $default-red,
    $default-blue
  ) !important;
  color: white;
}

.text-default-blue {
  color: $default-blue !important;
}

.textBorder {
  position: relative;

  &::after {
    content: "";
    width: 4rem;
    height: 3px;
    background: rgb(136, 37, 12);
    bottom: -0.1rem;
    position: absolute;
    left: 0;
  }
}

.swiper {
  width: 100%;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.customer-swiper {
  padding-bottom: 40px !important;
}

.swiper-wrapper {
  align-items: center !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: auto !important;
  height: inherit !important;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none !important;
}

.customer-swiper {
  .swiper-slide {
    width: 100% !important;
    padding-bottom: 40px !important;
  }

  @media screen and (min-width: 768px) {
    .swiper-slide {
      width: 48% !important;
    }
  }
}
.text-gradient {
  background: linear-gradient(
    to right,
    $default-blue,
    $default-red,
    $default-red,
    $default-blue
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.text-gradient-bottom {
  background: linear-gradient(
    to bottom,
    $default-blue,
    $default-red,
    $default-red,
    $default-blue
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.glass-over {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
}

.container {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container,
.container {
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
}

.container,
.container {
  @media screen and (min-width: 768px) {
    max-width: 730px;
  }
}

.container,
.container {
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
}

.container,
.container {
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.container,
.container {
  @media screen and (min-width: 1400px) {
    max-width: 1250px;
  }
}

.Icon {
  display: inline-flex;
  font-size: inherit;
  align-items: center;
  justify-content: center;
  position: relative;
  font-style: normal;
  color: inherit;
  transition:
    opacity 0.3s,
    transform 0.3s;

  &.size__tiny {
    $size: 1.5rem;

    width: $size;
    min-width: $size;
    height: $size;
  }

  &.size__small {
    $size: 2rem;

    width: $size;
    min-width: $size;
    height: $size;
  }

  &.size__medium {
    $size: 3rem;

    width: $size;
    min-width: $size;
    height: $size;
  }

  &.size__large {
    $size: 4.5rem;

    width: $size;
    min-width: $size;
    height: $size;
  }

  &.size__inherit {
    $size: 1em;

    width: $size;
    min-width: $size;
    height: $size;
  }

  > svg {
    height: 100%;
    width: 100%;
    stroke: currentColor;
    font-weight: inherit;
    stroke-width: 2px;
  }
}

.glass {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  min-width: auto;
}

.header-home {
  position: relative;
  transition: all 0.5s ease-in-out;

  &:hover {
    background-image: linear-gradient(
      to right,
      $default-blue,
      $default-blue
    ) !important;
    > span {
      color: white !important;
    }
    div {
      color: white !important;
    }
  }
}

.quote {
  position: relative;
  &:before {
    content: open-quote;
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 34px;
    color: rgb(17, 77, 77);
  }
  &::after {
    content: close-quote;
    font-size: 34px;
    color: rgb(17, 77, 77) !important;
  }
}

@keyframes fadingPulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.animate-fading-pulse {
  animation: fadingPulse 5s infinite;
  animation-delay: 5s;
}

.folded-paper,
.folded-paper-mission {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  transform: skewY(-5deg) translateY(10%) scale(0.94);
  transition:
    box-shadow var(--duration) var(--ease),
    background-color var(--duration) var(--ease),
    transform var(--duration) var(--ease);

  &:before,
  &:after {
    content: "";
    position: absolute;
    pointer-events: none;
    background-color: rgba(102, 102, 187, 0.1);
    width: 25%;
    height: 100%;
    transition:
      background-color var(--duration) var(--ease),
      transform var(--duration) var(--ease);
  }

  &:before {
    top: 0;
    right: calc(100% - 1px);
    transform-origin: 100% 100%;
    transform: skewY(-35deg) scaleX(-1);
    z-index: -1;
  }

  &:after {
    top: 0;
    left: calc(100% - 1px);
    transform-origin: 0 0;
    transform: skewY(-35deg) scaleX(-1);
    z-index: 2;
  }
}

.folded-paper-mission {
  &:before,
  &:after {
    background-color: rgba(187, 102, 159, 0.1);
  }
}

.text-blue-600 {
  color: #0166b4;
}

.border-blue-601 {
  border-color: #0166b4;
}

.scrollTo {
  scroll-margin-top: 120px;
}
