.PageHeader {
  margin-bottom: 5em;
  padding: 3em 2em 3.5em 2em;
  width: 100%;
  min-height: 15em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2,
  p,
  button {
    position: relative;
    z-index: 2;
  }

  &::before,
  .__after {
    width: 175vw;
    @include before-or-after(
      $bg: #fff,
      $br: 0 0 50% 0,
      $h: 145%,
      $w: clamp(100em, 160vw, 220vw),
      $l: 50%
    );
    transform: translate(-50%, -32%) rotateZ(4deg);
    min-width: 70em;
    overflow: hidden;
  }

  &::before {
    background-color: transparent;
    border-radius: 50% 0 0 0;
    top: calc(145% + 0.5em);
    box-shadow: 0 -18em 0 0 #cfe1ff;
  }

  small {
    display: inline-flex;
  }

  @media screen and (min-width: 768px) {
    min-height: 15em;
    margin-bottom: 6em;
  }

  @media screen and (min-width: 992px) {
    padding-top: 4em;

    &::before,
    .__after {
      width: clamp(100em, 150vw, 200vw);
    }
  }
}
