@import "@/styles/constant";
.ServiceItem {
  background-color: white;
  gap: 0.4rem;
  cursor: pointer;

  .text {
    transform: translateY(0);
    transition: transform 0.5s ease 0.25s, opacity 0.5s ease 0.25s;
  }

  .description {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s ease 0.25s, opacity 0.5s ease 0.25s;
  }

  &:hover {
    gap: 0;
    .description {
      transform: scaleY(1);
      opacity: 1;
    }
    .text {
      transform: translateY(-0.8rem);
    }
  }
}
