@import "@/styles/constant";
.ServiceItem {
  background-color: white;
  gap: 0.4rem;
  cursor: pointer;

  .text {
    transform: translateY(0);
    transition: transform 0.5s ease 0.1s;
  }

  .description {
    opacity: 0;
    transform: translateY(-1rem);
    transform-origin: top;
    transition:
      transform 0.5s ease 0.25s,
      opacity 0.5s ease 0.3s;
  }

  &:hover {
    gap: 0;
    .description {
      transform: translateY(-1rem);
      opacity: 1;
    }
    .text {
      padding-bottom: 2px;
      transform: translateY(-1rem);
      transition: transform 0.5s ease 0.2s;
    }
  }
}
