@import "@/styles/constant";
.homeHead {
  position: relative !important;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 40rem;
    top: 0;
    background: linear-gradient(
      to right,
      rgba(1, 101, 178, 0.5),
      rgba(1, 101, 178, 0.5),
      rgba(1, 101, 178, 0.1)
    );
    z-index: 2;
  }
}

.CountryImage {
  position: relative;
  transition: all 0.5s ease-in-out;

  .imageHover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-color: rgba(1, 101, 178, 0.5);
    z-index: -1;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    .imageHover {
      z-index: 5;
      opacity: 1;
      pointer-events: visible;
    }
  }
}

.TextHead {
  position: relative;
  font-weight: 700;

  &::after {
    content: "";
    width: 4rem;
    height: 3px;
    background: rgb(136, 37, 12);
    bottom: -0.1rem;
    position: absolute;
    left: 0;
  }
}

.quote {
  position: relative;
  &:before {
    content: open-quote;
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 34px;
    color: rgb(17, 77, 77);
  }
  &::after {
    content: close-quote;
    font-size: 34px;
    color: rgb(17, 77, 77) !important;
  }
}

.bgWhite50t {
  background-color: rgba(255, 255, 255, 0.5);
}

.headPsuedo {
  position: relative;
  z-index: 10 !important;

  &::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-image: url("/img/set1.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-image: url("/img/set1.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
  @media screen and (min-width: 768px) {
    &::after {
      width: 30%;
    }
    &::before {
      width: 30%;
    }
  }
}

.headBottomPsuedo {
  position: relative;
  z-index: 1;

  &::after {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    left: 70%;
    top: -46%;
    background-image: url("/img/blue-pill1.svg");
    background-repeat: no-repeat;
    opacity: 0.5;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }

  @media screen and (min-width: 768px) {
    &::after {
      top: -2rem;
    }
  }
}
