.TeamImage {
  position: relative;
  height: 22rem;
  transition: all 0.5s ease;

  .TeamText {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    transform: scaleY(0);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    opacity: 0;
    padding: 1rem 0.75rem;
    transition:
      transform 0.5s ease 0.25s,
      opacity 0.5s ease 0.25s;
  }
  &:hover {
    .TeamText {
      transform: scaleY(1);
      opacity: 1;
    }
  }
}
